<!DOCTYPE HTML>
<html>
	<head>
			<title>WV-Notation-Cloud Home</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/main.css" />
		<noscript><link rel="stylesheet" href="../static/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="index.html">WVHS</a></h1>
					</header>

				<!-- Banner -->
						<div class="inner">
							<h2>Waubonsie Valley Chess Team</h2>
							<p>The website for storage and further analysis</p>
						</div>

				<!-- Wrapper -->
					<section id="wrapper">
							<section id="one" class="wrapper spotlight style1">
								<div class="inner">
									<div class="content">
										<h2 class="major">Upload Chess Games</h2>
										<p>Upload pictures of notation sheets (.png) or text in notation formats (PGN).</p>
										<a href="{{ url_for('notationCloud') }}" class="special">Upload Image</a>
									</div>
								</div>
							</section>

				<!-- Footer -->
					<section id="footer">
						<div class="inner">
								<li class="icon brands fa-instagram"><a href="http://instagram.com/wvhschess">instagram.com/wvhschess</a></li>
								<li class="icon brands fa-googlesite"><a href="https://sites.google.com/ipsd.org/chessteam/home">sites.google.com/ipsd.org/chessteam/home</a></li>
							</ul>
							<ul class="copyright">
								<li>Developed by Drona Thoka & Christian Cheng, 2025</li>
							</ul>
						</div>
					</section>
			</div>
	</body>
</html>
