<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link rel="stylesheet" href="../static/main.css/">
        <title>Login to your WV-Chess account {% block title %}{% endblock %}</title>

    </head>
    <body>
        <div class="center-wrapper">
            <form action="/login" method="post">
                <div class="username-form">
                    <input autocomplete="off" autofocus class="" name="username" placeholder="Username" type="text">
                </div>
                <div class="password-form">
                    <input class="" name="password" placeholder="Password" type="password">
                </div>
                <button class="login-submit" type="submit">Log In</button>
            </form>
        </div>
    </body>
</html>
